.session-title,
.events-with-filters-card ul,
.events-with-filters-card .event-teaser,
.event-teaser,
.events-with-filters-card .event-details,
.event-details,
.select2-result-label,
.form-check-label {
    font-size: 1rem ;
}

.events-with-filters-card h2 {
    font-size:1.75rem;
}

.events-with-filters-card ul:first-of-type,
.workshop-item ul:first-of-type{
    margin-top: 8px !important;
    margin-bottom:0 !important;
}

.events-with-filters-card ul ~ ul,
.workshop-item ul ~ ul{
    margin-top: 0 !important;
    margin-bottom:0 !important;
}