

.timetable {
    --time-unit-height: 0.5rem;
    --stages: 3;
    --th-width: 3.5rem;

    --stage-gap: .5rem;
    --stage-width: min(100vw - var(--th-width) - 3rem, 22rem);
    --start-time: 9;
    --end-time: 18;
    --event-duration: calc(var(--end-time) - var(--start-time) + 1);

    --rows: auto repeat(calc(var(--event-duration) * 12), minmax(var(--time-unit-height), auto));
    --columns: var(--th-width) repeat(var(--stages), minmax(var(--stage-width), 1fr)) 1rem;

    --zebra-color-one: #51516d;
    --zebra-color-two: rgb(102, 102, 131);

    --zebra-color-two: rgb(102, 102, 131);
    --zebra-color-one: #efefef;
    --zebra-color-two: #dedede;

    overflow-x: clip;
    timeline-scope: --scroll-x;
}

.timetable--head {
    display: none;
    pointer-events: none;
    position: sticky;
    top: 0;
    z-index: 5;

    @supports (animation-timeline: --scroll-x) {
        display: block;
    }
}

.timetable--inner-head {
    display: grid;
    gap: 0 var(--stage-gap);
    grid-template-columns: var(--columns);

    animation: slide linear both;
    animation-timeline: --scroll-x;

    background: var(--zebra-color-one);
    color: #fff;
    position: absolute;
    inset-inline-start: 0;
    inset-block-start: 0;
    min-width: 100%;
    box-shadow: 0 1px 0 rgb(255 255 255 / 0.2);

    > :first-child {
        grid-column: 2;
    }
}

@keyframes slide {
    from {
        inset-inline-start: 0;
        transform: translateX(0);
    }

    to {
        inset-inline-start: 100%;
        transform: translateX(-100%);
    }
}

.timetable--body {
    max-width: 100%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scroll-timeline-name: --scroll-x;
    scroll-timeline-axis: inline;

    display: grid;
    gap: 0 var(--stage-gap);
    grid-template-rows: var(--rows);
    grid-template-columns: var(--columns);

    scroll-snap-type: x mandatory;
}

.stage {
    display: grid;
    grid-column: var(--column);
    grid-row: 1 / -1;
    grid-template-rows: subgrid;
    position: relative;

    scroll-snap-align: start;
    scroll-margin-inline-start: calc(var(--th-width) + 0.5rem);
}

.session-list {
    list-style-type: none;
    grid-row: 2 / -1;
    grid-column: 1;
    display: grid;
    grid-template-rows: subgrid;
}

.stage-headline {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1em;
    line-height: 1;
    padding: 1.25rem 0.5rem 1rem;
    font-weight: 600;
}

.session {
    --minutes-to-start: calc(var(--start-time) * 60);

    --start-hours-to-minutes: calc(round(down, var(--start) / 100, 1) * 60);
    --start-minutes: mod(var(--start), 100);
    --end-hours-to-minutes: calc(round(down, var(--end) / 100, 1) * 60);
    --end-minutes: mod(var(--end), 100);
    grid-row-start: calc((var(--start-hours-to-minutes) + var(--start-minutes) - var(--minutes-to-start)) / 5 + 1);
    grid-row-end: calc((var(--end-hours-to-minutes) + var(--end-minutes) - var(--minutes-to-start)) / 5 + 1);
}

.hours {
    --background: var(--zebra-color-one);
    display: grid;
    grid-row: 2 / -1;
    grid-column: 1 / -1;
    grid-template-rows: subgrid;

    >div {
        grid-row-end: span 12;
        background: var(--background);
        border-top:3px solid #cccccc;

        &:nth-child(odd) {
            --background: var(--zebra-color-two);
            border-top:3px solid #cccccc;
        }
    }

    time {
        display: block;
        position: sticky;
        width: var(--th-width);
        height: 100%;
        inset-inline-start: 0;
        background: rgb(from var(--background) r g b / 0.95);
        z-index: 2;
    }
}

/* basic setup stuff */


h1,
h2,
h3,
h4 {
    line-height: 1.2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* additional session styling */
.session {
    background: rgba(0,0,0, 0.15);
    background: rgba(255,255,255, 0.95);
    border: 1.5px solid #f09;
    border: 0 solid #f09;
    border-top: 2.5px solid #f09;
    color: #fff;
    color:#000;
    border-radius: 0.5rem;
    border-radius: 0;
    padding: 1rem;
    margin-block: 0.375rem;

    &.break {
        background: #09f2;
        border-color: #09f;
        color: #f0f0f0;
    }

    &.pitch {
        background: rgba(77, 27, 112, 0.85);
        background: #c06ca9;
        border-color: #c06ca9;
        color:#ffffff;
    }
    &.info {
        background: #8b036b;
        border-color: #c06ca9;
        color:#ffffff !important;
    }

    &.alert {
        background: #cc0000;
        border-color: #cc0000;
        color:#ffffff;
    }
    h3 {
        font-size: 1.5rem;
        font-weight: 700;

        span {
            display: block;
            font-size: 1rem;
            padding-block-end: 0.2em;
            font-weight: 400;
        }
    }

    p {
        opacity: 0.9;
    }

    >*+* {
        margin-block-start: 0.5rem;
    }
}

/* additional styling for time elements */
.hours time {
    color:#000;
    font-weight: 600;
    line-height: 1.2;
    padding: .75rem 0;
    text-align: center;
    box-shadow: inset -1px 0 0 0 rgb(255 255 255 / 0.1);
}
/* ENO */
.icon-svg {width:24px;}
.worskhop-remove-off{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.speaker-list {
    margin:0;
    padding:0;
}
.speaker-list li {
  list-style: none;
  position: relative;
  padding-left: 1.75rem;
}

.speaker-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1.35em;
  height: 1.35em;
  background: url("../img/speaker-2.png") no-repeat center / contain;
}


.price-list {
    margin:0;
    padding:0;
}
.price-list li {
  list-style: none;
  position: relative;
  padding-left: 1.75rem;
}

.price-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1.35em;
  height: 1.35em;
  background: url("../img/price.png") no-repeat center / contain;
}


.free-places-list {
    margin:0;
    padding:0;
}
.free-places-list li {
  list-style: none;
  position: relative;
  padding-left: 1.75rem;
}

.free-places-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1.35em;
  height: 1.35em;
  background: url("../img/places.png") no-repeat center / contain;
}

.audience-list {
    margin:0;
    padding:0;
}
.audience-list li {
  list-style: none;
  position: relative;
  padding-left: 1.75rem;
}

.audience-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1.35em;
  height: 1.35em;
  background: url("../img/zielgruppen.png") no-repeat center / contain;
}

.stage-headline {
    color:#fff;
    background: #8b036b;
    margin-left:1rem;
}


